{
    "plugins": [
      [
        "babel-plugin-inline-import",
        {
          "extensions": [".svg"]
        }
      ],
      [
        "module:react-native-dotenv",
        {
        //   "envName": "APP_ENV",
          "moduleName": "@env",
          "path": ".env"
        }
      ]
    ]
  }